<nav>
  <ul>
    <li>
      <a routerLink="home">Home</a>
    </li>
    <li>
      <a routerLink="favourite" class="button fancy-button">
        <i class="material-icons">
        </i>Favourite
      </a>
    </li>
    <li>
      <a routerLink="cart" class="button fancy-button">
        <i class="material-icons">
        </i>Cart
      </a>
    </li>
    <li>
      <a routerLink="login" class="button fancy-button">
        <i class="material-icons">
        </i>Login
      </a>
    </li>
  </ul>
</nav>
