<h2 id = "details_head">Product Details</h2>
<fieldset class = "details_index">
  <div *ngIf="product">
    <a href="{{ product.image_url_product }}">
      <h3 id = "details_name">
        {{ product.name }}
      </h3>
    </a>

    <a href="#"><img class = "details_image" src="{{ product.image_url_product }}" width="300px"></a>
    <h4>Price: {{ product.price | currency }}</h4>
    <h4>Rating: {{ product.rating }}</h4>
    <p>Description: {{ product.desc }}</p>
    <div *ngIf="product">
      <h3>{{ product.name }}</h3>
      <h4>{{ product.price | currency }}</h4>
      <p>{{ product.desc }}</p>
      <button type="button" (click)="addToCart(product)">Add to Cart</button>
      <button type="button" (click)="addToFavourite(product)">Add to Favourite</button>
    </div>
  </div>
</fieldset>
