<div class="header">
  <nav>
    <ul class="hr">
      <li>
        <a routerLink="home" class="button fancy-button">
          <i class="material-icons">
          </i>Home
        </a>
      </li>
      <li>
        <a routerLink="favourite" class="button fancy-button">
          <i class="material-icons">
          </i>Favourite
        </a>
      </li>
      <li>
        <a routerLink="cart" class="fancy-button">
          <i class="material-icons">
          </i>Cart
        </a>
      </li>
      <li>
        <a routerLink="login" class="button fancy-button">
          <i class="material-icons">
          </i>Login
        </a>
      </li>
    </ul>
  </nav>
</div>
