<hr class="featurette-divider">
<footer class="container py-3">
  <div class="row">
    <div class="col-md-3">
      <small class="d-block mb-1 text-muted">&copy;АО «KyamaDanyaBauyr»</small>
      <small class="d-block mb-3 text-muted">2001—2021</small>
    </div>
    <div class="col-md-3">
      <h5>Company</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Business</a></li>
        <li><a class="link-secondary" href="#">Projects</a></li>
        <li><a class="link-secondary" href="#">Career</a></li>
        <li><a class="link-secondary" href="#">Our Stores</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Buyer help
      </h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">How to make an order</a></li>
        <li><a class="link-secondary" href="#">Shipping and payment</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Conditions</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Contacts
      </h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Addresses and telephones</a></li>
        <li><a class="link-secondary" href="#">Write to us</a></li>
        <li><a class="link-secondary" href="#">For landlords</a></li>
        <li><a class="link-secondary" href="#">For medias</a></li>
      </ul>
    </div>
  </div>
</footer>
